/* Jerarquías de Selectores
*  id
*  class
*  "!important" -> tiene prioridad sobre otros 
*/

/* Jerarquías de CSS
* inline -> style="propiedad: valor;"
* <style>
* style.css
*/

body{
    margin: 0;
}
/* Selector de id es # */
#mi-h1{
    font-size: 1.75em;
}
/* Selector de clase es . */
.container{
    border: 0;
    margin: 5px;
}
/* Etiquetas de HTML coinciden con su selector */
h1{
    font-size: 1em;
}

/* Estilos de Tabla Lateral */
#tabla{
    /*border: 2px solid black;*/
    padding: 10px;
    /*width: 30%;*/
    background-color: lightgray;
}
#tabla h2{
    text-align: center;
}
/* div que envuelve la img */
#img-tabla{
    border: 0px solid black;
}
#img-tabla img{
    width: 60%;
    margin-left: 20%;
}
/* caption*/
#caption-p{
    font-size: 0.8em;
    text-align: center;
    color: blue;
}

/* Cambiando divs a inline-block */
#intro{
    width: 66%;
    border: 2px solid black;
}
#tabla{
    width: 30%;
    border: 1px solid black;
}
#intro, #tabla{
    display: inline-block;
}