/* Hoja de estilos para aplicar Flex box */

/* Setup  inicial de las cajas div en el container */
body, html {
    margin: 0;
}
body {
    background-color: rgb(0, 181, 181);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.flex-item {
    border: 1px solid black;
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
    width: 10vw;
    min-width: 50px;
    background-color: rgb(76, 236, 183);
}
h1 {
    text-align: center;
}
h1, h2, h3 {
    color: rgb(137, 52, 52);
}
/* Flex box */

.flex-container, 
.h-flex-start-container,
.h-center-container,
.h-flex-end-container {
    border: 2px dashed brown;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 10px;
}
/* Horizontal */
.h-flex-start-container {
    justify-content: flex-start;
}
.h-center-container {
    justify-content: center;
}
.h-flex-end-container {
    justify-content: flex-end;
}

/* Vertical */
.v-flex-start-container, 
.v-flex-end-container,
.v-center-container {
    border: 2px dashed brown;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 10px;
    height: 20vh;
}
.v-flex-start-container div, 
.v-flex-end-container div,
.v-center-container div {
    height: 25px;
}

.v-flex-start-container{
    align-items: flex-start;
}
.v-center-container {
    align-items: center;
}
.v-flex-end-container {
    align-items: flex-end;
}

