body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(59, 59, 79);
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  