#navbar ul{
    list-style-type: none;
    margin: 0;
    display: inline-block;
}
#navbar li{
    display: inline-block;
    border: 0px solid black;
    padding: 5px;
    margin: 10px;
}

#navbar, #footer {
    background-color: lightgray;
}

body{
    margin: 0px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

img{
    margin-top: 20px;
    display: inline-block;
}

/* Estilos encabezados */
h1 {
    font-size: 33px;
    font-weight: 600;
}
h2 {
    font-size: 22px;
    font-weight: 300;
    text-decoration: underline;
}

h3, h4, h5, h6{
    text-decoration: underline;
}

body{
    /*font-family: 'Noto Sans Mono', monospace;*/
    font-family: 'Inter Tight', sans-serif;
}