<!-- 
Ejercicio 1 de la Certificacion en FreeCodeCamp
de (New) Responsive Web Design
-->

<!DOCTYPE html>
<html>

<head>
  <title>Survey Form</title>
  <link rel="icon" href="../../favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/survey-form.css">
</head>
<!-- Ej. Añadir navbar que devuelva a la página principal (portafolio.html) sin target blank
     Footer similar al de portafolio
-->
<body>
<h1 id="title">Survey Form</h1>
<p id="description">Esto es un formulario de ejemplo para practicar HTML.</p>

<form id="survey-form">
  
  
<label for="name" id="name-label">Nombre: *</label><br>
<input id="name" type="text" value="" placeholder="Nombre Apellido" required>
  
<br>

<label for="email" id="email-label">Tu Email: *</label><br>
<input id="email" name="nombre" value="" type="email" placeholder="email@dominio.com" required>

<br>  
<br>

<label id="number-label">Edad: *</label>
<input id="number" type="number" min="1" max="200" step="1" placeholder="30" required>

<br>
<br>
<!-- Dropdown o menu desplegable -->
<label>Lenguaje de programación favorito:</label><br>
<select id="dropdown">
  <option>Javascript</option>
  <option selected>Python</option>
  <option disabled>Serpent</option>
  <option>C++</option>
  <option>C</option>
</select>

<br>
<br>
<!-- Radio buttons -->
<label>¿Has usado VS Code alguna vez?</label><br>
<input type="radio" name="vs-code" value="si"><label>Sí</label><br>
<input type="radio" name="vs-code" value="no"><label>No</label><br>
<input type="radio" name="vs-code" value="otro"><label>No lo sé</label>

<br>
<br>
<!-- Checkboxes -->
<label>¿Estás aprendiendo HTML?</label><br>
<input type="checkbox" value="si"><label>Sí<label><br>
<input type="checkbox" value="no"><label>No<label><br>
<input type="checkbox" value="maybe"><label>Es posible<label>  
  
<br>
<br>
<label>comments<label><br>
<textarea id="w3review" name="w3review" rows="4" cols="50">
Déjanos tus comentarios...
</textarea>

<br>
<br>
<input type="submit" id="submit" value="Envía tu formulario">
</form>

<body>
</html>