/* Hoja de estilos para personalizar elementos */

#container-divs{
    min-height: 300px;
}

/* Contacto */
#contact > div {
    max-width: 600px;
}
/* Slider */
.carousel-caption {
    background-color: rgba(50, 50, 50, 0.5);
}

/* Proyectos */
.project-btn {
    min-width: 200px;
}
.card.card-cover {
    background-image: url('./assets/img/dark-3.png');
}

/* Footer */
footer .nav-link {
    text-align: center;
}
footer .nav-link:hover {
    color: black!important;
    background-color: antiquewhite;
}
footer > p {
    text-align: right;
}

/* Media queries */

/* xs, sm */
@media screen and (max-width: 576px){
    footer ul {
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    footer #logo {
        order: 0;
        display: block;
        margin: 0 auto;
    }
    footer > p {
        order: 2;
        text-align: center;
        margin: 0 auto;
    }
    .dot {
        display: none;
    }
}

/* md, lg, xl, xxl */
@media screen and (min-width: 768px){
    .myDiv {
        display: inline-block;
        width: 30%;
        margin: 0 auto;
        color: red;
    }
} 