/* Hoja de estilos para aplicar Flex box 
*  Aplicamos esta hoja de estilos a contenido HTML de temas
*/

/* Setup  inicial de las cajas div en el container */
body, html {
    margin: 0;
}
body {
    background-color: rgba(16, 214, 214, 0.505);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
body a, ul {
    color: black;
    /* color: rgb(228, 228, 228); */
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
}
h1 {
    text-align: center;
}
h1, h2, h3 {
    color: #902926;
    /* color: rgb(104, 55, 55); */
}
ul {
    list-style-type:decimal-leading-zero;
}
/****************************************/

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#operadores, #asignacion, #tipos {
    font-family: 'Open Sans', sans-serif;
}

#calc-container {
    display: flex;
    justify-content: space-around;
}
#calc-container div {
    border: 1px solid brown;
    padding: 10px;
    border-radius: 10px;
}