/* Hoja de Estilos Externa */

/* Test
h1{
    color:red;
} */

/***************************/
body {
    padding: 10px;
    background-color: rgb(227, 225, 225);
}
h1 {
    text-align: center;
}
.lead {
 text-align: center;
}
.descripcion{
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
}
.solucion {
    width: 80%;
    padding: 10px;
    background-color: rgb(167, 167, 167);
    margin: 0 auto;
}
.inline{
    display: inline-block;
    padding: 0 5px;
}
.border-bottom{
    border-bottom: 1px solid black;
    padding: 10px;
}