/*********
  Explicación de Estilos, id, clase, prioridad
**********/
/* Selector de id con máxima prioridad por defecto */ 
#title{
    text-align: center;
  }
  /* Selector de elemento h1 */
  h1{
    color: red;
    padding: 15px;
  }
  /* Incorrecto tener un segundo selector igual
  
  Este selector de id tiene prioridad porque sale más abajo en la hoja de estilos
  */
  #title{
    text-align: right;
  }
  /* Selector de clase */
  .h1{
    text-decoration: underline;
  }
  /* Estilos sobre figure y elementos dentro de figure */
  #img-div{
    border: 1px solid black;
  }
  #image{
    /*border: 1px solid black;*/
    width: 50%;
    max-width: 100%;
    height: auto;
    margin: 10px 25%;
    display: block;
  }
  #img-caption{
    /*border: 1px solid brown;*/
    padding: 10px;
    text-align: center;
  }
  /*
    Caso general de centrado de un div
  */
  
  /*
  div{
    margin: 0 auto;
  }
  /****************/
  */
  /* Texto descriptivo */
  p{
    padding: 15px;
  }
  
  
  /*
  - Centramos la imagen
  - Seguimos con puntos 7-9
  */