/*********
  Explicación de Estilos, id, clase, prioridad
**********/
/* Selector de id con máxima prioridad por defecto */ 
#title{
    text-align: center;
  }
  /* Selector de elemento h1 */
  h1{
    color: red;
    padding: 15px;
  }
  /* Incorrecto tener un segundo selector igual
  
  Este selector de id tiene prioridad porque sale más abajo en la hoja de estilos
  */
  #title{
    text-align: right;
  }
  /* Selector de clase */
  .h1{
    text-decoration: underline;
  }
  /* Estilos sobre figure y elementos dentro de figure */
  #img-div{
    /*border: 1px solid black;*/
    width: 100%;
    margin: 0 auto; /* centrado */
  }
  
  #image{
    /*border: 1px solid black;*/
    width: 50%;
    max-width: 100%;
    height: auto; /* valor por defecto */
  
    /* Notación de valores margin, padding... */
          /* top right bottom left*/
    margin: 10px 20px  30px   50px;
          /* top right-left bottom */
    margin: 10px 20px       50px;
          /* top-bottom right-left*/  
    margin: 10px        20px;
          /* todos */
    margin: 10px;
    /*****************************************/
    
    /* % del elemento padre */
    margin: 10px 25%;
    display: block;
  }
  #img-caption{
    /*border: 1px solid brown;*/
    padding: 10px;
    text-align: center;
  }
  /*
    Caso general de centrado de un div
  */
  
  /*
  div{
    margin: 0 auto;
  }
  /****************/
  */
  /* Texto descriptivo */
  p{
    padding: 15px;
  }
  