/*********
  Explicación de Estilos, id, clase, prioridad
**********/
/* Selector de id con máxima prioridad por defecto */ 
#title{
    text-align: center;
  }
  /* Selector de elemento h1 */
  h1{
    color: red;
    padding: 15px;
  }
  /* Incorrecto tener un segundo selector igual
  
  Este selector de id tiene prioridad porque sale más abajo en la hoja de estilos
  */
  #title{
    text-align: right;
  }
  /* Selector de clase */
  .h1{
    text-decoration: underline;
  }
  /* Estilos sobre figure y elementos dentro de figure */
  #img-div{
    border: 1px solid black;
  }
  #image{
    border: 1px solid black;
    margin: 10px auto;
  }
  #img-caption{
    /*border: 1px solid brown;*/
    padding: 10px;
    text-align: center;
  }
  /* Texto descriptivo */
  p{
    padding: 15px;
  }