/* Fuentes */
body{
    font-family: "Tahoma", sans-serif;
  }
  
  /* Colores */
  body{
    background-color: rgba(81, 90, 160, 0.7);
    color: white;
  }
  hr{
    margin: 30px auto;
    width: 80%;
  }
  /* Navbar */
  #li-right{
    margin-left: auto;
    margin-right: 0;
  }

  /* Form */
  input, select, textarea {
   background-color: rgba(81, 90, 160, 0.95);
   border: none;
   padding: 0 5px;
  }
  #name, #email, #number {
    width: 50%;
  }
  #comments {
    width: 80%;
    min-height: 200px;
  }
  /* #radio-1, #radio-2, #radio-3 {} */

  /* Checkboxes */
  /* .check-container{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .form-check{
    display: block;
  }
  #label-1, #label-2, #label-3, 
  #label-4, #label-5, #label-6 {
    display: inline-block;
    padding: 0;
    padding-left: 3px;
    margin: 0;
    margin-top: 3px;
    line-height: 1rem;
    max-height: 1rem;
  }
  #check-1, #check-2, #check3 {
    align-self: center;

  }

  #survey-form {
    border: 3px solid rgba(81, 90, 160, 0.9);
    border-radius: 20px;
    padding: 10px 0;
  }
  
  /* Chrome, Opera, Safari */
  ::placeholder{
    color: #DDD;
    opacity: 1; /* Firefox opacidad */
  }
  :-ms-input-placeholder{
    color: #DDD;
  }
  ::-ms-input-placeholder{
    color: #DDD;
  }
  
  /* Centrado */
  h1, p{
    text-align: center;
    padding: 0.7em 0;
  }
  form{
    margin: 0 auto;
    min-width: 300px;
    width: 70vw;
    max-width: 500px;
    /* border: 0px solid black; */
  }
  @media (max-width: 400px){
    #survey-form{
      border: 0;
    }
    #form-container{
      padding: 0;
    }
  }
  select{
    display: block;
    width: 50%;
    margin: 10px auto;
    color: white;
    height: 2em;
    padding: 0 5px;
  }
  textarea{
    min-width: 250px;
    width: 300px;
    max-width: 350px;
    margin: 10px auto;
    color: white;
    padding: 10px;
  }
  /* Espaciado */
  label{
    padding: 5px 0;
    margin: 5px auto;
    display: block;
    text-align: center;
    width: 100%;
  }
  input{
    display: block;
    padding: 5px;
    width: 50%;
    margin: 0px auto;
  }
  input[type="submit"]{
    margin: 10px auto;
  }
  /* Corrección radio buttons */
  /* input[type="radio"], input[type="checkbox"]{
    width: 20%;
    display: inline-block;
  } */
  .label-inline{
    display: inline-block;
    width: 80%;
    text-align: left;
    border: 0px solid black;
  }
  div{
    width: 50%;
    padding: 10px 0;
    margin: 10px auto;
  }

  footer ul {
    list-style: none;
    padding: 0;
  }

