/* Hoja de estilos del Navbar Responsive */

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    background-color: rgb(50, 50, 50); 
}
/* 
    #menu para colocar el navbar en la página
        #menu-items para estilar el bloque que contiene los enlaces
            .menu-item para dar estilo a los enlaces
        #bg-image para colocar una imagen de fondo
*/
#menu {
    color: white;
    border: 1px solid white;
    width: 100vw;
    height: 100vh;
    /* Centrado */
    /* text-align: center;
    margin: 0 auto; */

    /* Centrado con flex box */
    display: flex;
    /* Vertical */
    /*  Arriba -> flex-start
        Abajo ->  flex-end
    */
    align-items: center;
    /* Horizontal */
    /*
        Izq -> flex-start
        Der -> flex-end
    */
    justify-content: center;
    /* Centrado en ambos: center */
}
#menu-items {
    border: 1px dashed lightgray;
}
.menu-item {
    border: 1px solid green;
    padding: 10px 0;
}
#bg-image {
    border: 1px dotted red;
}
